@import 'tailwindcss';
@import '@niibase/uniwind';

@theme {
  /* Radius */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius: var(--radius-md);

  /* Font Family */
  --font-bold: 'robotoslab-bold';
  --font-semibold: 'robotoslab-semiBold';
  --font-medium: 'robotoslab-medium';
  --font-regular: 'robotoslab-regular';
}

@layer theme {
  :root {
    @variant light {
      /* Base */
      --color-background: #f6f6f6;
      --color-foreground: #161616;

      /* Action Colors */
      --color-primary: #03c988;
      --color-primary-foreground: #f5f1ff;
      --color-secondary: #f4f4f5;
      --color-secondary-foreground: #18181b;
      --color-muted: #f5f5f5;
      --color-muted-foreground: #71717a;
      --color-accent: #f5f5f5;
      --color-accent-foreground: #1f2937;
      --color-destructive: #ef4444;
      --color-destructive-foreground: #ffffff;

      /* Status Colors */
      --color-success: #2ecc71;
      --color-warning: #f1c40f;
      --color-error: #e74c3c;
      --color-info: #3498db;

      /* Borders / Inputs */
      --color-border: #e4e4e7;
      --color-input: #e4e4e7;
      --color-ring: #a1a1aa;
    }

    @variant dark {
      /* Base */
      --color-background: #161616;
      --color-foreground: #fafafa;

      /* Action Colors */
      --color-primary: #03c988;
      --color-primary-foreground: #ecfdf5;
      --color-secondary: #27272a;
      --color-secondary-foreground: #fafafa;
      --color-muted: #262626;
      --color-muted-foreground: #a1a1aa;
      --color-accent: #3f3f46;
      --color-accent-foreground: #fafafa;
      --color-destructive: #f87171;
      --color-destructive-foreground: #ffffff;

      /* Status Colors */
      --color-success: #2ecc71;
      --color-warning: #f1c40f;
      --color-error: #e74c3c;
      --color-info: #3498db;

      /* Borders / Inputs */
      --color-border: rgba(255, 255, 255, 0.1);
      --color-input: rgba(255, 255, 255, 0.15);
      --color-ring: #71717a;
    }
  }
}
